* {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    --qlivingDarkTeal: #109992;
    --qlivingLightTeal: #7bdcb5;
}

body {
    background-color: white
}

.pageContainer {
    display: flex;
    flex-direction: row;


    /* height is just placeholder */
    height: 850px;

}

.leftImageContainer {
    width: 34%;
    max-width: 420px;
    min-width: 300px;
    background-image: url(bunkerCute.jpg);
    background-size: cover;
    background-position: 70% 0;
    display: flex;
    align-content: center;

}



.logoSubContainer {
    background-image: url(QlivingLogo.png);
    max-height: 150px;
    width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    display: flex;
    margin: 25px;

}

.rightTextContainer {

    width: 100%;
    min-width: 555px;
    display: flex;
    flex-direction: column;

    background-color: var(--qlivingDarkTeal);
    color: white;
    font-size: x-large;

}

.headerContainer {
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    font-weight: bold;

}

.qlivinglogo {
    float: inline-start;
}

.headerCopyLine2 {
    font-style: italic;
}


.formContainer {
    height: 40%;
    background-color: white;
    color: black;

}

.formHeader {
    margin-left: 25px;
    margin-top: 25px;
}

form {
    appearance: none;
}

.formRowContainer {
    margin-left: 25px;
    margin-top: 25px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 33% 33%;
    max-width: 50%;
}

.formPasswordRow>label,
.formRow>label {
    display: block;
    font-size: medium;
}

.formPasswordRow>input,
.formRow>input {
    appearance: none;
    border-radius: 5px;
    font-size: large;
    border: 2px solid black;
}

.formPasswordRow>input:hover,
.formRow>input:hover {
    filter: brightness(95%);
}

.formRow>input:required {
    border: 2px solid black;
    box-shadow: 5px 5px 2px transparent;
}


.invalidRow,
.formRow>input:invalid {
    border: 2px solid black;
    box-shadow: 5px 5px 2px lightcoral;
}

.validRow,
.formRow>input:valid {
    border: 2px solid black;
    box-shadow: 5px 5px 2px var(--qlivingLightTeal);
}

.formPasswordRow>input:focus,
.formRow>input:focus {
    border: 3px solid black;
    box-shadow: 5px 5px 2px var(--qlivingDarkTeal);
}

.footer {
    height: 30%;
}

.submitBtn {
    margin-left: 25px;
    margin-top: 25px;
    height: 50px;
    width: 320px;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    color: var(--qlivingDarkTeal);
    background-color: white;
    border-width: 0px;

}

.submitBtn:disabled {
    filter: brightness(80%);
    /* content */
}

.submitBtn:disabled:hover {
    filter: brightness(80%);
}


.submitBtn:hover {
    filter: brightness(95%);
}