* {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    --qlivingTeal: #109992;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    /* height is just placeholder */
    height: 850px;

}

.leftImageContainer {
    width: 34%;
    flex-direction: column;
    border: 1px solid pink;
}

.leftImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 0;
}

.rightTextContainer {

    width: 66%;
    flex-direction: column;
    border: 1px solid lightgreen;
}

.topCopy {
    height: 33%;
    border: 1px solid purple;
}


.headerContainer {
    padding: 20px;

}

.formContainer {
    height: 33%;
    border: 1px solid orange;
}

.formRow > label {
display: block;
}

.footer {
    height: 33%;
    border: 1px solid salmon;
    background-color: var(--qlivingTeal);
}

/* qliving colour = #109992 */
/* if invalid write are u pawsitive? it will be hilarious, trust me */